
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form ngNativeValidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input formControlName="name" type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input required formControlName="email" type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input formControlName="password" type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                    <span class="text-danger" *ngIf="registerForm.controls['password'].hasError('required') && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">This field is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input formControlName="password2" type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                    <span class="text-danger"
                                          *ngIf="(registerForm.controls['password2'].touched || submitted)&& registerForm.controls['password2'].errors?.required">
                                        Confirm Password is required
                                    </span>
                                    <span class="text-danger" *ngIf="registerForm.controls['password2'].hasError('required') && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">This field is required</span>
                                    <span class="text-danger"
                                          *ngIf="registerForm.controls['password2'].touched && registerForm.controls['password2'].errors?.passwordMismatch">
                                        Passwords doesnot match
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                        <div class="login-register">
                            <a href="index.php">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
